<div class="user-data-block row">
    <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
        <h2>Расчёт процента жира по формуле YMCA</h2>
        <form action="" class="form-inline">
            <div class="row">
                <div class="form-group col-xs-5">
                    <label for="weight">Вес (кг):</label>
                    <input type="number" ng-model="weight" min="40" max="220" class="form-control input-sm"
                           id="weight" placeholder="Вес (кг)">
                </div>
                <div class="form-group col-xs-5">
                    <label for="height">Рост (см):</label>
                    <input type="number" ng-model="height" min="5" max="250" class="form-control input-sm" id="height"
                           placeholder="Рост (см)">
                </div>
                <div class="form-group col-xs-5">
                    <label for="waistline">Обхват талии (см):</label>
                    <input type="number" ng-model="waistline" min="40" max="200" class="form-control input-sm"
                           id="waistline"
                           placeholder="Обхват талии">
                </div>
                <div class="form-group col-xs-5">
                    <label for="sex">Пол:</label>
                    <select name="" id="sex" ng-model="sex_selected" ng-options="item as item.name for item in sex">
                        <option value="">-- выберите --</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="results-table-block">
    <table class="table table-bordered">
        <thead>
        <tr >
            <th>Процент жира
                Body fat percentage</th>
            <th>Вес за вычетом жира
                Lean mass</th>
            <th>Индекс массы тела (ИМТ)
                Body mass index (BMI)</th>
        </tr>
        </thead>
        <tbody>
        <tr class="active" >

            <td ng-repeat="fatpercentage in fatPercentageArray track by $index">{{fatpercentage}}</td>

        </tr>

        </tbody>

    </table>

</div>