<div class="user-data-block row">
    <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
        <form action="" class="form-inline">
            <div class="row">
                <div class="form-group col-xs-5">
                    <label for="resting-heart-rate">Пульс покоя:</label>
                    <input type="number" ng-model="restingHeartRate" min="40" max="220" class="form-control input-sm"
                           id="resting-heart-rate" placeholder="Пульс покоя">
                </div>
                <div class="form-group col-xs-5">
                    <label for="age">Возраст:</label>
                    <input type="number" ng-model="age" min="5" max="100" class="form-control input-sm" id="age"
                           placeholder="Возраст">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="results-table-block">
    <table class="table table-bordered">
        <thead>
            <tr >
                <th>зоны пульса <br/>
                    (% от максимального)</th>
                <th>по формуле '220 - возраст'<br/>
                    (ударов/минуту)</th>
                <th>по уточненной формуле<br/>
                    (ударов/минуту)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pulseZone in pulseZonesArray" class="{{pulseZone.className}}">

                <td>{{pulseZone.name}}</td>
                <td>{{pulseZone.simplePulseRange}}</td>
                <td>{{pulseZone.extendPulseRange}}</td>

            </tr>

        </tbody>

    </table>

</div>
